:root {
    --blue: #2F80ED;
    --red-button: #F50100;
    --red-button-disabled: #FA8080;
    --white: #FFFFFF;
    --dark-grey-label: #333333;
    --grey-button: #E0E0E0;
    --mid-grey-label: #4F4F4F;
    --input-border: #CBCBCB;
}